h1
{
  text-align: center;
  font-size: 60px;
}
body{
  background-image: url(https://img.freepik.com/premium-vector/white-product-podium-tropical-palm-leaves-shadow-green-background_87521-3259.jpg?t=st=1704338523~exp=1704339123~hmac=3ac9aade88a0d7f96f368b92fb04435c05d68c17a82f6f505e17c08aa0c6f3b1);
}